parameters:

doctrine:
    user: @App\Model\DbFactory::username
    password: @App\Model\DbFactory::password
    dbname: @App\Model\DbFactory::dbname
    host: @App\Model\DbFactory::host
    metadata:
        App: %appDir%



extensions:
        console: Kdyby\Console\DI\ConsoleExtension
        events: Kdyby\Events\DI\EventsExtension
        annotations: Kdyby\Annotations\DI\AnnotationsExtension
        doctrine: Kdyby\Doctrine\DI\OrmExtension

application:
	errorPresenter: App\FrontModule\Presenters\Error
	mapping:
		*: App\*Module\Presenters\*Presenter


session:
	expiration: 14 days



services:
	- App\Model\BlockFactory
	- App\Model\Services\UserService
	- App\Model\Services\RightsService
	- App\Model\Services\ReferenceService
	- App\Model\Services\MemberService
	- App\Model\Services\HeaderService
	- App\Model\Services\EventService
	- App\Model\Services\ContactService
	- App\Model\Services\ArticleService
	- App\Model\Services\SponsorService
	- App\Model\Services\MenuService
	- App\Model\Services\SeoService
	- App\Model\DbFactory
	authenticator: App\Model\Authenticator
	authorizatorFactory: App\Model\AuthorizatorFactory
	authorizator: @authorizatorFactory::create

	- App\Router\RouterFactory
	router: @App\Router\RouterFactory::createRouter

constants:
    UPLOAD_DIR: ./