parameters:


database:
    dsn: 'mysql:host=127.0.0.1;dbname=d950521_cms'
    user: jakub
    password: 1234



application:
	errorPresenter: App\FrontModule\Presenters\Error
	mapping:
		*: App\*Module\Presenters\*Presenter


session:
	expiration: 14 days



services:
	authenticator: App\Model\Authenticator
	authorizatorFactory: App\Model\AuthorizatorFactory
	authorizator: @authorizatorFactory::create

	- App\Router\RouterFactory
	router: @App\Router\RouterFactory::createRouter


constants:
    UPLOAD_DIR: ./