<!DOCTYPE html>
<html>
    <head>
        <title>{ifset title}{include title|stripHtml} | {/ifset}Page</title>
        <meta name="keywords" content="{ifset keywords}{include keywords}{/ifset}" />
        <meta name="description" content="{ifset description}{include description}{/ifset}" />


        <link rel="shortcut icon" href="{ifset favicon}{include favicon}{/ifset}"" />

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="robots" content="index, follow, archive, snippet">
        <meta http-equiv="content-type" content="text/html; charset=UTF-8" />

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link href="{$basePath}/css/style.css" rel="stylesheet" >

        <link href="https://fonts.googleapis.com/css?family=Encode+Sans+Condensed:300,400,500,600,700&amp;subset=latin-ext" rel="stylesheet">


        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

        <!--SCRIPT same height panel-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.matchHeight/0.7.2/jquery.matchHeight-min.js"></script>

            {ifset cmsStyle}{include cmsStyle}{/ifset}
    </head>

    <body itemscope itemtype='http://schema.org/LocalBusiness' id="myPage" data-spy="scroll" data-target=".navbar" data-offset="60">
        {*<div n:foreach="$flashes as $flash" n:class="flash, $flash->type">{$flash->message}</div>*}



        {include content}


        {block css}

        {/block}

        {block scripts}
            <script src="https://nette.github.io/resources/js/netteForms.min.js"></script>

        {/block}

        {include bordel}

        {*https://cookieinfoscript.com/*}
        <script type="text/javascript" id="cookieinfo"
                src="//cookieinfoscript.com/js/cookieinfo.min.js"
                data-bg="#F2F2F2"
                data-fg="#454545"
                data-link="#26A69A"
                moreinfo="{link Homepage:cookie}"
                data-cookie="CookieInfoScript"
                data-text-align="left"
                data-close-text="Got it!">
        </script>

    </body>
</html>
