body, html
{
    margin: 0;
    padding: 0;
    background-color: #fff;
    /*min-height: 100vh;*/
}

/*----------------------------------------------------------------------------*/
/* HROMADNÁ DEKLARACE FONTŮ: */
body, p, ul, ol, ul li, ol li, table, table td, span, div, a, a:hover, a:visited, input, textarea, select, button, span /*----NEMAZAT----*/
{
    font-family: 'roboto', sans-serif;
    font-weight: 400;
    font-size: 20px;
    font-style: normal;
}
input {
    font-size: 14px;
}
h1, h2, h3, h4, h5, h6, button /*----NEMAZAT----*/
{
    font-weight: normal;
    font-style: normal;
}
em /*----NEMAZAT----*/
{
    font-family: 'robotoblack', sans-serif;
    font-weight: 700;
    font-style: normal;
}

strong /*----NEMAZAT----*/
{
    font-family: inherit;
    font-weight: inherit;
    font-style: inherit;
    color: inherit;
    text-decoration: inherit;
    line-height: inherit;
    text-transform: inherit;
}
span {
    font-size: 14px;
}
span.formError{
    text-align: left;
    font-size: 13px;
    line-height: 20px;
    width: 50%;
    margin: 0;
    padding: 0 0 0 6px;
    position: relative;
    top: -6px;
    overflow: hidden;
    /* box-shadow: 0 1px 2px rgba(160,96,102,0.5); */
    color: #a06066;
    /* background-color: #eee; */
    /* border-radius: 0 0 4px 4px; */
}
label {
    font-family: 'roboto', sans-serif;
    font-weight: 300;
    font-style: inherit;
    color: inherit;
    text-decoration: inherit;
    line-height: inherit;
    text-transform: inherit;
}


/*----------------------------------------------------------------------------*/
/* TEXT: */
h1, h2, h3, h4, h5, h6 /*----NEMAZAT----*/
{
    text-transform: uppercase;
    margin: 0;
    line-height: 120%;
    color: #000;
}
h1 /*----NEMAZAT----*/
{
    font-family: 'roboto', sans-serif;
    font-size: 36px;
    font-weight: 400;
    padding: 0 0 0 15px;
    text-align: center;
    clear: both;
}


h2 /*----NEMAZAT----*/
{
    font-family: 'roboto', sans-serif;
    text-align: left;
    font-size: 20px;
    padding: 30px 0 0 0;
}
h2.h2small {
    padding: 0;
    cursor: pointer;
}
h3 /*----NEMAZAT----*/
{
    font-family: 'roboto', sans-serif;
    font-size: 18px;
    color: #000;
    text-align: left;
    padding: 30px 0 0 0;
}
h4 /*----NEMAZAT----*/
{
    font-size: 18px;
    font-style: oblique;
}
h5 /*----NEMAZAT----*/
{
    font-size: 18px;
}

p /*----NEMAZAT----*/
{
    margin: 0;
    padding: 20px 0 0 0;
    text-align: left;
    line-height: 140%;
    color: #000;
}
p.pClear {
    clear: both;
    padding: 0;
    margin: 0;
}

pre /*----NEMAZAT----*/
{
    font-family: inherit;
    font-size: inherit;
    font-style: inherit;
    font-weight: inherit;
}

pre.preFotka /*----NEMAZAT----*/
{
    text-align: center;
    font-size: 16px;
    margin: 0;
    padding: 0;
    white-space: pre-wrap;
    -webkit-white-space: pre-wrap;
    -moz-white-space: pre-wrap;
}

/*----------------------------------------------------------------------------*/
/* DIVY: */
div {
    margin: 0;
    padding: 0;
}
div.divFlashMessage {
    position: absolute;
    top: -70px;
    left: 50%;
    margin-left: -200px;
    margin-top: 15px;
    width: 400px;
    padding: 15px;
    background-color: #2672a6;
    z-index: 3003;
}
div.divLayoutTop {
    position: fixed;
    width: 85%;
    margin-left: 15%;
    height: 70px;
    background-color: #f2f2f2;
    overflow: hidden;
    z-index: 1002;
}
div.divLayoutLeft{
    position: fixed;
    background-color: #dcdcdc;
    width: 15%;
    height: 100vh;
    overflow: hidden;
}
div.divLayoutRight {
    position: relative;
    margin: 0 0 0 15%;
    background-color: #f2f2f2;
    top: 70px;
    min-height: 100vh;
}
div.divBack {
    position: relative;
    margin: 0 0 20px 0;
}
div.divPageH {
    float: left;
    position: relative;
    top: 15px;
    width: auto;
    margin: 0;
}

div.divColpick{
    position: absolute;
    top: 34px;
    left: 0;
    z-index: 1001;
    background-color: #FFF;
    display: none;
}

div.divSign{
    margin: 40vh auto 0 auto;
    max-width: 450px;
}

div.divMenu{
    position: relative;
    margin: 0;
    padding: 50px 20px 0 0;
    text-align: right;
}

div.divSummaryPanel {
    display: block;
    overflow: hidden;
    padding: 10px 0;
}

div.divSummaryExpand {
    display: none;
    overflow: hidden;
}
div.divNewBlock {
    margin: 10px 10px 0 0;
    background-color: #26a69a;
    color: #f2f2f2;
    display: inline-table;
}
div.divNewBlock:hover {
    background-color: #f2f2f2;
    color: #26a69a;
}
div.divSummaryExpand a{
    padding: 6px 10px;
    display: block;
    text-decoration: none;
    color: inherit;
}

div.divSummImg{
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-origin: border-box;
    min-height: 150px;
}

div.divAvatarImg{
    width: 200px;
    height: 200px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    display: block;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
}
div.divSummButtons{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

div.divPanelTable{
    display: flex;
    align-items: center;
}

/*Sign on every left top corner in summary page*/
div.divBlockSign {
    position: absolute;
    top: 0;
    left: 0;
    color: #eee;
    background-image: url('../img/pozadi-upoutavka.png');
}
div.divBlockSign p {
    padding: 25px 25px 25px 0;
    font-size: 1.1em;
    color: #F5F5F5;
    float: left;
}
div.divBlockSign span, div.divBlockSign i{
    padding: 25px;
    font-size: 1.5em;
    float: left;
}
/*Sign in form next to img input to del current img*/
div.divBlockDelete {
    left: 15px;
    background-color: #a06066;
    opacity: .7;
    width: 50px;
    height: 50px;
}
/*div nex to img input in edit form*/
div.divEditImg {
    padding: 0 0 15px 0;
}

/*Color spectrum in summary table*/
div.divColor{
    padding: 8px 8px;
    margin: 0 5px;
    float: left;
}
/*separate new external link when editing menu items*/
div.divMenuItemNew{
    border-top: 1px solid #f2f2f2;
    padding-top: 20px;
}

/*----------------------------------------------------------------------------*/
/* ODKAZY: */
a /*----NEMAZAT----*/
{
    font-family: inherit;
    color: inherit;
    border: none;
    text-decoration: underline;
    font-size: inherit;
}
a:hover /*----NEMAZAT----*/
{
    font-family: inherit;
    font-size: inherit;
    text-decoration: none;
    color: #1E6AFF;
}



a img /*----NEMAZAT----*/
{
    border: none;
    text-decoration: none;
    font-size: inherit;
    font-style: inherit;
    font-weight: inherit;
    color: inherit;
    opacity: 1.0;
    filter: alpha(opacity=100);
}
a:hover img /*----NEMAZAT----*/
{
    border: none;
    text-decoration: none;
    font-size: inherit;
    font-style: inherit;
    font-weight: inherit;
    color: inherit;
    opacity: 0.7;
    filter: alpha(opacity=70);
}


a.aAktButton /*----NEMAZAT----*/
{
    display: block;
    font-size: 23px;
    font-style: normal;
    font-weight: bold;
    text-decoration: none;
    color: #fff;
    /*background:  url(../img/aktuality-p.png) left center no-repeat;*/
    width: 141px;
    height: 37px;
    margin: 0;
    padding: 13px 0 0 79px;
}
a.aAktButton:hover /*----NEMAZAT----*/
{
    /*background:  url(../img/aktuality-a.png) left center no-repeat;*/
    color: #000;
}
/*----------------------------------------------------------------------------*/
/* OBRÁZKY: */
img
{
    border: none; /*----NEMAZAT----*/
    margin: 0;
    padding: 0;
}


img.imgLogo
{
    position: relative;
    left: 0;
    top: 23px;
    margin: 0 auto 23px auto;
    padding: 0;
    width: 45%;
}

img.imgAvatar {

    border-radius: 50%;
}

/*----------------------------------------------------------------------------*/
/* TABULKY: */
table /*----NEMAZAT----*/
{
    margin: 15px 0 0 0;
    padding: 0;
    border-collapse: collapse;
    border: none;
}
table td /*----NEMAZAT----*/
{
    margin: 0;
    padding: 5px 0 0 0;
    border-collapse: collapse;
    border: none;
    text-align: left;
    vertical-align: top;
    line-height: 110%;
}
table td pre /*----NEMAZAT----*/
{
    white-space: pre-wrap;
    -webkit-white-space: pre-wrap;
    -moz-white-space: pre-wrap;
    margin: 0;
    padding: 0;
}

table.tableSummary {
    margin: 5px 0 15px 0;
    width: 100%;
}
table.tableSummary td {

}
/*table.tableSummary tr:nth-child(even) {*/
    /*background-color: #f2f2f2;*/
/*}*/
table.tableSummary tr td.tdHeading{
    /*border-bottom: 1px dotted;*/
    width: 40%;
    font-family: 'roboto', sans-serif;
    font-weight: 700;
}
table.tableSummary td{
    font-size: 16px;
    padding: 6px 10px 6px 10px;
    vertical-align: middle;
    border-bottom: 1px solid #26a69a;
}
/*----------------------------------------------------------------------------*/
/* SEZNAMY: */
ul
{
    padding: 15px 0 0 30px;
    margin: 0;
}
ul li
{
    margin: 0;
    padding: 10px 0 0 5px;
    list-style-type: disc;
}
ul.ulFlashMessage {

}
ul.ulFlashMessage li {

}
ul.menu
{
    position: relative;
    left: 5px;
    top: 0;
    padding: 0;
    margin: 0;
    z-index: 3001;
}
ul.menu li
{
    margin: 0;
    padding: 0 0 0 5px;
    list-style-type: none;
}
ul.menu li.liSPozadim
{
    background:  url(../img/sipka-p.png) right center no-repeat;
}
ul.menu li a
{
    font-size: 25px;
    display: block;
    text-decoration: none;
    padding: 8px 12px 10px 12px;
    color: #000;
}
ul.menu li ul
{
    position: absolute;
    visibility: hidden;
    left: 217px;
    /*background-color: #26a69a;*/
    display: inline-grid;
    width: max-content;
    z-index: 2001;
}
ul.ulSubmenu1
{
    margin: -45px 0 0 0;
    padding: 5px 12px 5px 12px;
}
ul.menu li ul li
{
    clear: both;
    list-style-type: none;
    height: auto;
    background-color: #26a69a;
    margin: 0 0 5px 0;
}
ul.menu li ul li a
{
    font-size: 17px;
    text-transform: none;
    display: block;
    padding: 7px 15px;
    margin: 0;
    text-decoration: none;
    text-align: left;
    color: #000;
}
ul.menu li a:hover
{
    color: #2672a6;
}
ul.menu li:hover a
{
    color: #2672a6;
}
ul.menu li:hover ul li a
{
    color: #000;
}
ul.menu li ul li a:hover
{
    display: block;
    color: #2672a6;
}
ul.menu li:hover ul
{
    visibility: visible;
}
ul.menu li.liSPozadim:hover
{
    color: #2672a6;
    background:  url(../img/sipka-p.png) right center no-repeat;
}







.ulMenuActive a{
    background-color: #EEE;
    color: #eee;
    text-decoration: none;
}




ul.ulNav{
    padding: 0;
    position: relative;
    top: 15px;
    margin: 0 20px 0 auto;
    text-align: right;
    width: 30%;
}
ul.ulNav li{
    color: #a06066;
}
ul.ulNav li a{
    color: #a06066;
    text-decoration: none;
}
ul.ulNav li a:hover{
    text-decoration: underline;
}

/*----------------------------------------------------------------------------*/
/* FRAMY: */
iframe /*----NEMAZAT----*/
{
    width: 960px;
    height: 200px;
    border: 0;
    margin: 20px 0 0 0;
}

/*----------------------------------------------------------------------------*/
/* FORMULARE: */
.buttonCisty /*----NEMAZAT----*/
{
    /*font-family: Georgia, serif; */
    font-size: 18px;
    margin: 0 10px 0 auto;
    text-align: center;
    display: block;
    background-color: #2672a6;
    color: #eee;
    border: 1px solid transparent;
    text-transform: none;
    text-decoration: none;
    cursor: pointer;
    padding: 8px 18px;
}
.buttonCisty:hover /*----NEMAZAT----*/
{
    color: #2672a6;
    font-size: 18px;
    background-color: #eee;
    border: 1px solid #2672a6;
    cursor: pointer;
    text-decoration: none;
}
.buttonBack {
    padding: 11px 18px;
}
.buttonBlockSummary {
    width: 100%;
    margin: 5px 0;
}

.buttonColpick{
    margin: 0 auto 0 0;
}

.buttonEdit {
    background-color: #2672a6;
}

.buttonDelete {
    background-color: #a06066;
}

.buttonView {
    background-color: #7f7f7f;
}

.buttonAdd {
    background-color: #26a69a;
}


/*----------------------------------------------------------------------------*/
/* TOOLTIP: */
.tooltip-inner {
    font-family: 'roboto', sans-serif;
    max-width: 29em;
    font-size: 14px;
    font-weight: 500;
    background-color: #3b3b3b;
    border-radius: 4px;
}
.tooltip .tooltip-arrow {
    border-bottom-color: #3b3b3b!important;
    border-top-color: #3b3b3b!important;
    /*border-right-color: #3b3b3b!important;*/
    /*border-left-color: #3b3b3b!important;*/
}
.itemTooltip {
    cursor: pointer;
}
.itemTooltip:after {
    content: "?";
    position: relative;
    font-family: 'roboto', sans-serif;
    font-weight: 700;
    font-size: 15px;
    left: 5px;
    top: -8px;
}
.tooltip-inner em {
   color: #a06066;
}
/*.tooltip .tooltiptext {*/
    /*visibility: hidden;*/
    /*width: 120px;*/
    /*background-color: #555;*/
    /*color: #fff;*/
    /*text-align: center;*/
    /*border-radius: 6px;*/
    /*padding: 5px 0;*/
    /*position: absolute;*/
    /*z-index: 1;*/
    /*bottom: 125%;*/
    /*left: 50%;*/
    /*margin-left: -60px;*/
    /*opacity: 0;*/
    /*transition: opacity 0.3s;*/
/*}*/

/*.tooltip .tooltiptext::after {*/
    /*content: "";*/
    /*position: absolute;*/
    /*top: 100%;*/
    /*left: 50%;*/
    /*margin-left: -5px;*/
    /*border-width: 5px;*/
    /*border-style: solid;*/
    /*border-color: #555 transparent transparent transparent;*/
/*}*/

/*.tooltip:hover .tooltiptext {*/
    /*visibility: visible;*/
    /*opacity: 1;*/
/*}*/
/*----------------------------------------------------------------------------*/
/* BARVY: */

.green{
    color: #26a69a;
}
.grey{
    color: #7f7f7f;
}
.blue{
    color: #2672a6;
}
.red{
    color: #a06066;
}
.white{
    color: #eee;
}

.bg-green{
    background-color: #26a69a;
}
.bg-grey{
    background-color: #7f7f7f;
}
.bg-blue{
    background-color: #2672a6;
}
.bg-red{
    background-color: #a06066;
}
.bg-white{
    background-color: #eee;
}

/*----------------------------------------------------------------------------*/
/* OSTATNÍ: */

.odsaditTop-50{
    padding-top: 50px;
}
.odsaditTop-100{
    padding-top: 100px;
}
.odsaditTop-150{
    padding-top: 150px;
}
.odsaditBottom-50{
    padding-bottom: 50px;
}
.odsaditBottom-100{
    padding-bottom: 100px;
}
.odsaditBottom-150{
    padding-bottom: 150px;
}

.myFlex {
    display: flex;
}

button.closeColpick{
    position: absolute;
    right: 3px;
    top: 0px;
    font-size: 31px;
}

.input-group-addon{
    cursor: pointer;
}

textarea.form-control {
    max-width: 100%;
}

.panel {
    border-radius: 0;
    box-shadow: 2px 2px 2px #c4c4c4;
}








/*----------------------------------------------------------------------------*/
/*FONTY: */

@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500,500i,700,700i&subset=latin-ext');
