html, body {
    margin: 0;
    padding: 0;
    background-color: #F2F2F2;
    overflow-x: hidden;
}

/*----------------------------------------------------------------------------*/
/* HROMADNÁ DEKLARACE FONTŮ: */
body, p, ul, ol, ul li, ol li, table, table td, span, div, a, a:hover, a:visited, input, textarea, select, button, span, label {
    font-family: 'roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
}
input {
    font-size: 14px;
}
button {
    font-weight: normal;
    font-style: normal;
}
em {
    font-family: 'roboto', sans-serif;
    font-weight: normal;
    font-style: normal;
}
strong {
    font-family: 'roboto', sans-serif;
    font-style: inherit;
    color: inherit;
    text-decoration: inherit;
    line-height: inherit;
    text-transform: inherit;
}
label {
    font-weight: inherit;
    font-style: inherit;
    color: inherit;
    text-decoration: inherit;
    line-height: inherit;
    text-transform: inherit;
}
/*----------------------------------------------------------------------------*/
/* TEXT: */
h1, h2, h3, h4, h5, h6 {
    font-family: 'roboto', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    font-style: normal;
    margin: 0;
    padding: 0;
    line-height: 120%;
    color: #000;
    text-align: left;
}
h1 {
    font-size: 35px;
    clear: both;
    margin-top: 60px;
}

h2 {
    font-size: 24px;
    margin-bottom: 60px;
    padding-top: 50px;
    text-align: center;
}
h3 {
    font-size: 16px;
    text-align: center;
}
h3.h3Article {
    text-align: left;
}
h4 {
    font-size: 14px;
    font-weight: 600;
    clear: none;
    text-align: left;
    margin: 0 0 5px 0;
}
h4.h4referencesExtra {
    text-align: center;
}
p {
    margin: 0;
    padding: 10px 0 0 0;
    text-align: left;
    line-height: 120%;
    color: #0d0d0d;
}
p.pClear {
    clear: both;
    padding: 0;
    margin: 0;
}
/*p.pMember {*/
    /*text-align: center;*/
    /*width: 70%; !*TODO: měnit v závislosti na rozlišení*!*/
    /*margin: 0 auto;*/
    /*padding-bottom: 80px;*/
/*}*/
/*p.pReference {*/
    /*padding: 15px 50px 0 15px;*/
    /*clear: both;*/
/*}*/
p.pReferenceReferrer {
    font-size: 14px;
    padding: 0 50px 0 15px;
}
p.pReferenceReferrerExtra {
    font-size: 14px;
    padding: 15px 0 0 0;
    width: 75%;
    margin: 0 auto;
    text-align: center;
}
/*p.pReferenceExtra {*/
    /*padding: 0 100px 0 0;*/
    /*clear: both;*/
/*}*/
p.pContact{
    width: 80%;
}
p.pEventTime {

}
p.pHeader {
    font-family: 'roboto', sans-serif;
    font-weight: 700;
    font-size: 20px;
    padding: 45px 0 0 0;
}
p.pJakubRita {
    text-align: right;
    font-size: 13px;
}
pre {
    font-family: inherit;
    font-size: inherit;
    font-style: inherit;
    font-weight: inherit;
}

/*----------------------------------------------------------------------------*/
/* DIVY: */
div {
    margin: 0;
    padding: 0;
}
div.blockBg {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
div.firstBlock {
    margin-top: 69px;
}
div.divHeader {
    min-height: 600px;
}
div.divHeaderButton {
    font-family: 'roboto', sans-serif;
    font-weight: 700;
    font-size: 16px;
    color: #000;
    background-color: #2672a6;
    min-width: 160px;
    overflow: hidden;
    text-align: center;
    padding: 10px;
    display: inline-table;
    margin: 60px 30px 0 0;
    cursor: pointer;
    border: 1px solid #0d0d0d;
    -webkit-border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
}
div.divHeaderButton:hover {
    text-decoration: underline;
    background-color: #F2F2F2;
}
div.divAvatarImg, div.divReferenceAvatar, div.divReferenceAvatarExtra{
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    display: block;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
}
div.divReferrer {
    margin-top: 30px;
    min-height: 75px;
}
div.divAvatarImg{
    width: 200px;
    height: 200px;
    margin: 0 auto 45px auto;
}
div.divReferenceAvatar{
    width: 65px;
    height: 65px;
    margin: 0 15px;
    float: left;
}
div.divReferenceAvatarExtra{
    width: 65px;
    height: 65px;
    margin: 20px auto 20px auto;
}

div.divReferencesBg {
    background-color: #FFFFFF;
    margin-bottom: 30px;
    padding: 15px 0 15px 30px;
    min-height: 250px;
}
div.divQuotes{
    width: 50px;
    height: auto;
    clear: both;
    margin: 0 15px 0 auto;
}
div.divQuotesExtra{
    width: 50px;
    height: auto;
    clear: both;
    position: absolute;
    top: 20px;
    right: 80px;
}
div.divContactsBg {
    padding: 30px;
    background-color: #FFFFFF;
    text-align: left;
}
div.divEventImg {
    height: 300px;
    background-size: cover;
    background-position: center center;
    overflow: hidden;
    margin-bottom: 45px;
}
div.divEventsBg {
    background-color: #FFFFFF;
    margin-bottom: 45px;
}
div.divEvent {
    margin-bottom: 30px;
    padding: 0 30px 15px 30px;
}
div.divArticleImg {

}
div.divSponsorImg {

}
div.divSponsorsContent {
    display: flex;
    align-items: center;
    justify-content: center;
}
div.divArticle {
    padding-top: 45px;
}
div.divPMember {
    text-align: center;
    width: 70%;
    margin: 0 auto;
    padding-bottom: 80px;
}
div.divPEvent{
    margin: 0 auto;
}
div.divEventArrow {
    text-align: right;
    width: 100%;
    margin: 45px auto 0 auto;
}
div.divPReferences {
    padding: 15px 50px 0 15px;
    clear: both;
    width: 100%;
    margin: 0 auto;
}
div.divPReferencesExtra {
    padding: 0 100px 0 0;
    clear: both;
    width: 100%;
    margin: 0 auto;
}
/*----------------------------------------------------------------------------*/
/* ODKAZY: */
a {
    font-family: inherit;
    color: inherit;
    border: none;
    text-decoration: underline;
    font-size: inherit;
}
div.divSponsorImg a {
    display: block;
}
div.divHeaderButton a, div.divHeaderButton a:hover, div.divHeaderButton:hover{
    font-family: 'roboto', sans-serif;
    font-weight: 700;
    font-size: 18px;
    text-decoration: none!important;
}
a:hover,
a:focus,
a:active {
    font-family: inherit;
    font-size: inherit;
    text-decoration: none;
    color: #1E6AFF;
}

a:visited{
    color: inherit;
}
a img {
    border: none;
    text-decoration: none;
    font-size: inherit;
    font-style: inherit;
    font-weight: inherit;
    color: inherit;
    opacity: 1.0;
    filter: alpha(opacity=100);
}
a:hover img {
    border: none;
    text-decoration: none;
    font-size: inherit;
    font-style: inherit;
    font-weight: inherit;
    color: inherit;
    opacity: 0.7;
    filter: alpha(opacity=70);
}

/*----------------------------------------------------------------------------*/
/* OBRÁZKY: */
img {
    border: none; /*----NEMAZAT----*/
    margin: 0;
    padding: 0;
}
img.imgLogo {
    max-height: 54px;
    margin: 8px 0;
}
img.imgQuotes {
    width: 100%;
    height: auto;
}
img.imgContactsNetwork {
    display: inline-table;
    margin: 45px 15px 0px 0;
}
img.imgEvent {
    width: 100%;
    height: auto;
}
img.imgArticle {
    width: 100%;
    height: auto;
}
img.imgSponsor {
    -webkit-filter: grayscale(90%);
    filter: grayscale(90%); /* make all photos black and white */
    width: 80%;
    height: auto;
}
img.imgSponsor:hover {
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%); /* make all photos black and white */
    opacity: 1.0;
    filter: alpha(opacity=100);
}
/*----------------------------------------------------------------------------*/
/* TABULKY: */
table {
    margin: 0;
    padding: 0;
    width: 100%;
    border-collapse: collapse;
    border: none;
}
table td {
    margin: 0;
    padding: 5px;
    border-collapse: collapse;
    border: none;
    text-align: left;
    vertical-align: top;
    line-height: 110%;
}
table td pre {
    white-space: pre-wrap;
    -webkit-white-space: pre-wrap;
    -moz-white-space: pre-wrap;
    margin: 0;
    padding: 0;
}

table.tableReference td{
    text-align: center;
    vertical-align: middle;
    padding: 0;
}

/*----------------------------------------------------------------------------*/
/* SEZNAMY: */
ul {
    padding: 15px 0 0 30px;
    margin: 0;
}
ul li {
    margin: 0;
    padding: 10px 0 0 5px;
    list-style-type: disc;
}
ul.ulFooterMenu {
    display: inline-table;
    text-align: left;
    padding: 0 25px 0 0;
    position: relative;
    left: 0;
}
ul.ulFooterMenu li {
    list-style-type: none;
    padding: 0;
}
ul.ulFooterMenu li a {
    font-weight: 600;
    padding: 0 0 2px 0;
    font-size: 14px;
    text-decoration: none;
}
ul.ulFooterMenu li a:hover {
    font-weight: 600;
    font-size: 14px;
    padding: 0 0 2px 0;
}

/*----------------------------------------------------------------------------*/
/* FRAMY: */
iframe {
    width: 100%;
    height: 100%;
    min-height: 250px;
    border: 0;
    margin: 0;
    padding: 0;
}

/*----------------------------------------------------------------------------*/
/* OSTATNÍ: */



body {
    font: 400 15px Lato, sans-serif;
    line-height: 1.8;
    color: #F2F2F2;
}
.jumbotron {
    background-color: #f4511e;
    color: #fff;
    padding: 100px 25px;
    font-family: Montserrat, sans-serif;
}
.container-fluid {
    padding: 60px 50px;
}
.bg-grey {
    background-color: #f6f6f6;
}
.logo-small {
    color: #f4511e;
    font-size: 50px;
}
.logo {
    color: #f4511e;
    font-size: 200px;
}
.thumbnail {
    padding: 0 0 15px 0;
    border: none;
    border-radius: 0;
}
.item span {
    font-style: normal;
}
.panel {
    border: 1px solid #f4511e;
    border-radius:0 !important;
    transition: box-shadow 0.5s;
}
.panel:hover {
    box-shadow: 5px 0px 40px rgba(0,0,0, .2);
}
.panel-footer .btn:hover {
    border: 1px solid #f4511e;
    background-color: #fff !important;
    color: #f4511e;
}
.panel-heading {
    color: #fff !important;
    background-color: #f4511e !important;
    padding: 25px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}
.panel-footer {
    background-color: white !important;
}
.panel-footer h3 {
    font-size: 32px;
}
.panel-footer h4 {
    color: #aaa;
    font-size: 14px;
}
.panel-footer .btn {
    margin: 15px 0;
    background-color: #f4511e;
    color: #fff;
}
.navbar {
    margin-bottom: 0;
    z-index: 9999;
    border: 0;
    font-size: 12px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 4px;
    border-radius: 0;
    font-family: Montserrat, sans-serif;
}
/*.navbar li a, .navbar .navbar-brand {*/
    /*color: #fff !important;*/
/*}*/
/*.navbar-nav li a:hover, .navbar-nav li.active a {*/
    /*color: #f4511e !important;*/
    /*background-color: #fff !important;*/
/*}*/
/*.navbar-default .navbar-toggle {*/
    /*border-color: transparent;*/
    /*color: #fff !important;*/
/*}*/
footer .glyphicon {
    font-size: 20px;
    margin-bottom: 15px;
}
.slideanim {visibility:hidden;}
.slide {
    animation-name: slide;
    -webkit-animation-name: slide;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    visibility: visible;
}
@keyframes slide {
    0% {
        opacity: 0;
        transform: translateY(70%);
    }
    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}
@-webkit-keyframes slide {
    0% {
        opacity: 0;
        -webkit-transform: translateY(70%);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0%);
    }
}
@media screen and (max-width: 768px) {
    .col-sm-4 {
        text-align: center;
        margin: 25px 0;
    }
    .btn-lg {
        width: 100%;
        margin-bottom: 35px;
    }
}
@media screen and (max-width: 480px) {
    .logo {
        font-size: 150px;
    }
}


.carousel-inner img {
    /*-webkit-filter: grayscale(90%);*/
    /*filter: grayscale(90%); !* make all photos black and white *!*/
    width: 100%; /* Set width to 100% */
    margin: auto;
}
@media (max-width: 600px) {
    .carousel-caption {
        display: none; /* Hide the carousel text when the screen is less than 600 pixels wide */
    }
}





.navbar {
    letter-spacing: 1px;
}
.navbar ul{
    padding: 0 0 0 0;
}
.navbar ul li{
    padding: 0;
}
.navbar ul li a, .navbar-brand, .navbar-brand:hover, .navbar-brand:active, .navbar-brand:focus {
    font-family: 'roboto', sans-serif;
    font-size: 16px;
    font-weight: 700;
    padding-top: 25px;
    padding-bottom: 25px;
    text-decoration: none;
}
.carousel-control.right, .carousel-control.left {
    background-image: none;
}
.navbar-fixed-bottom .navbar-collapse, .navbar-fixed-top .navbar-collapse {
    max-height: 100vh!important;
}
.container-fluid {
    max-width: 1200px!important;
}
nav .container-fluid {
    padding: 0 15px;
}
.carousel-control {
    width: 80px;
    top: 42%
}
div.divReference-inner {
    margin: 0 -30px;
}
 /*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
    /*----------------------------------------------------------------------------*/
    /* TEXT: */

    /*----------------------------------------------------------------------------*/
    /* DIVY: */

    /*----------------------------------------------------------------------------*/
    /* ODKAZY: */

    /*----------------------------------------------------------------------------*/
    /* OBRÁZKY: */

    /*----------------------------------------------------------------------------*/
    /* TABULKY: */

    /*----------------------------------------------------------------------------*/
    /* SEZNAMY: */

    /*----------------------------------------------------------------------------*/
    /* OSTATNÍ: */
    .container-fluid {
        max-width: 576px!important;
    }
    .carousel-indicators {
        display: none;
    }
}

 /*Small devices (landscape phones, less than 768px)*/
@media (max-width: 767.98px) {
    /*----------------------------------------------------------------------------*/
    /* TEXT: */

    /*----------------------------------------------------------------------------*/
    /* DIVY: */

    /*----------------------------------------------------------------------------*/
    /* ODKAZY: */

    /*----------------------------------------------------------------------------*/
    /* OBRÁZKY: */

    /*----------------------------------------------------------------------------*/
    /* TABULKY: */

    /*----------------------------------------------------------------------------*/
    /* SEZNAMY: */

    /*----------------------------------------------------------------------------*/
    /* OSTATNÍ: */
    .container-fluid {
        max-width: 768px!important;
    }
    .carousel-indicators {
        display: none;
    }

}

 /*Medium devices (tablets, less than 992px)*/
@media (max-width: 991.98px) {
    /*----------------------------------------------------------------------------*/
    /* TEXT: */

    /*----------------------------------------------------------------------------*/
    /* DIVY: */

    /*----------------------------------------------------------------------------*/
    /* ODKAZY: */

    /*----------------------------------------------------------------------------*/
    /* OBRÁZKY: */

    /*----------------------------------------------------------------------------*/
    /* TABULKY: */

    /*----------------------------------------------------------------------------*/
    /* SEZNAMY: */

    /*----------------------------------------------------------------------------*/
    /* OSTATNÍ: */
    .container-fluid {
        max-width: 992px!important;
    }
    .carousel-indicators {
        display: none;
    }


}

 /*Large devices (desktops, less than 1200px)*/
@media (max-width: 1199.98px) {
    /*----------------------------------------------------------------------------*/
    /* TEXT: */
    h2 {
        padding: 0;
    }
    p.pReferenceExtra {
        padding: 30px;
        text-align: center;
        clear: both;
    }
    /*----------------------------------------------------------------------------*/
    /* DIVY: */
    div.divQuotesExtra {
        display: none;
    }
    /*----------------------------------------------------------------------------*/
    /* ODKAZY: */

    /*----------------------------------------------------------------------------*/
    /* OBRÁZKY: */

    /*----------------------------------------------------------------------------*/
    /* TABULKY: */

    /*----------------------------------------------------------------------------*/
    /* SEZNAMY: */

    /*----------------------------------------------------------------------------*/
    /* OSTATNÍ: */
    .container-fluid {
        max-width: 1200px!important;
    }

}



/*----------------------------------------------------------------------------*/
/*FONTY: */



@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500,500i,700,700i&subset=latin-ext');

/*@font-face {*/
    /*font-family: 'robotoregular';*/
    /*src: url('../font/Roboto-Regular.eot');*/
    /*src: url('../font/Roboto-Regular.eot?#iefix') format('embedded-opentype'),*/
    /*url('../font/Roboto-Regular.woff2') format('woff2'),*/
    /*url('../font/Roboto-Regular.woff') format('woff'),*/
    /*url('../font/Roboto-Regular.svg#robotoregular') format('svg');*/
    /*font-weight: normal;*/
    /*font-style: normal;*/
/*}*/
/*@font-face {*/
    /*font-family: 'robotoblack';*/
    /*src: url('../font/Roboto-Black.eot');*/
    /*src: url('../font/Roboto-Black.eot?#iefix') format('embedded-opentype'),*/
    /*url('../font/Roboto-Black.woff2') format('woff2'),*/
    /*url('../font/Roboto-Black.woff') format('woff'),*/
    /*url('../font/Roboto-Black.svg#robotoblack') format('svg');*/
    /*font-weight: normal;*/
    /*font-style: normal;*/
/*}*/
/*@font-face {*/
    /*font-family: 'robotoblack_italic';*/
    /*src: url('../font/Roboto-Black-Italic.eot');*/
    /*src: url('../font/Roboto-Black-Italic.eot?#iefix') format('embedded-opentype'),*/
    /*url('../font/Roboto-Black-Italic.woff2') format('woff2'),*/
    /*url('../font/Roboto-Black-Italic.woff') format('woff'),*/
    /*url('../font/Roboto-Black-Italic.svg#robotoblack_italic') format('svg');*/
    /*font-weight: normal;*/
    /*font-style: normal;*/
/*}*/
/*@font-face {*/
    /*font-family: 'robotobold';*/
    /*src: url('../font/Roboto-Bold.eot');*/
    /*src: url('../font/Roboto-Bold.eot?#iefix') format('embedded-opentype'),*/
    /*url('../font/Roboto-Bold.woff2') format('woff2'),*/
    /*url('../font/Roboto-Bold.woff') format('woff'),*/
    /*url('../font/Roboto-Bold.svg#robotobold_condensed_italic') format('svg');*/
    /*font-weight: normal;*/
    /*font-style: normal;*/
/*}*/
/*@font-face {*/
    /*font-family: 'robotothin';*/
    /*src: url('../font/Roboto-Thin.eot');*/
    /*src: url('../font/Roboto-Thin.eot?#iefix') format('embedded-opentype'),*/
    /*url('../font/Roboto-Thin.woff2') format('woff2'),*/
    /*url('../font/Roboto-Thin.woff') format('woff'),*/
    /*url('../font/Roboto-Thin.svg#robotobold_condensed_italic') format('svg');*/
    /*font-weight: normal;*/
    /*font-style: normal;*/
/*}*/